<!--Home page,you come here  after login-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Hello, {{username}}</p>
    <div style="border:1px 0;">
        <a href="/materialView">View Materials</a>
        <a href="/materialAdd">Add materials</a>
        <a href="/logout">Log out</a>
    </div>
</body>
</html><!--add links here and then work on testing materials pages and this-->