<!--Can view materials here-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Material View</h1>
    <table id="renderTable" border="1">
        <tr>
            <th>Material</th>
            <th>Unit</th>
            <th>Current Stock</th>
            <th>Threshold</td>
        </tr>
    </table>
    <a href="/home">Back to home</a>
    <script src="../static/materialView.js"></script>
</body>
</html>