<!---This page is designed to handle insertion queries to the database, this page could be merged with the materials display page
    later on-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add materials</h1>
    <form method="POST" id="materialsAdd">
        Operation:      <select name="operation" id="operation">
                            <option value="ADD">Add New Material</option>
                            <option value="UPDATE">Update Existing material Quantity</option>
                            <option value="DELETE">Delete a material</option>
                        </select>
        <div id="renderArea">

        </div>
        <div id="numField"></div>
    </form>
    <a href="/home">Back to home</a>
    <script src="../static/materialsAdd.js"></script>
</body>
</html>